# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log

# Terraform variables
*.tfvars
*.tfvars.json

# Terraform lock info
.terraform.tfstate.lock.info

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration
.terraformrc
terraform.rc
